.KinnMoments {
    padding: 64px 0;
    background-color: var(--footer-color);
    margin-bottom: 128px;
    & h3 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 31px;
    }
    &_all {
        display: flex;
        gap: 8px;
        justify-content: center;
        @media(max-width:1330px) {
            display: grid;
            gap: 40px;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media(max-width:768px) {
    .KinnMoments {
        margin-bottom: 80px;
    }
}
@media(max-width:500px) {
    .KinnMoments_all {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .KinnMoments {
        padding: 30px 0;
        background-color: var(--footer-color);
        margin-bottom: 50px;
    }
}
